:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #241b5a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 250px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.spinner {
  width: 30px;
  height: 30px;
  border: orange 1px solid;
}

body {
  background-image: url("background.svg");
  object-fit: cover;
  padding: 5%;
  display: block !important;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 60%;
  place-items: center;
}

.phone1 {
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url("/phone1.svg");
  aspect-ratio: 161.56/318.42;
  width: 120px;
  animation-name: hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes hover {
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}

.phone2 {
  grid-row: 2/3;
  grid-column: 3/4;
  background-image: url("/phone2.svg");
  aspect-ratio: 161.56/318.42;
  width: 120px;
  animation-name: hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.header {
  grid-row: 1/2;
  grid-column: 1/4;
  margin-bottom: 5%;
  width: 75%;
}

.text {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #3a4a98;
  border-radius: 8px;
  padding: 5%;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

input,
select {
  background-color: #334080;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  color: #acabab;
  margin-top: 2%;
  font-size: 1rem;
}

.example > h2 {
  margin-bottom: 1%;
}

.example > h3 {
  margin-top: 0;
}

.example {
  padding-top: 4%;
}

label {
  font-size: 1.1rem;
}

@media (max-width: 750px) {
  .phone1,
  .phone2 {
    display: none;
  }
}
